/* Colors
#131B23 = black
#8D99AE = gray
#E0E0E2 = silver
#fff = white
#2274A5 = blue */

/* GENERAL */
* {
  outline: none;
}

body {
  font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 45px 0 0 0;
}

section .heading {
  text-align: center;
}

section .heading h2 {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.black-divider {
  width: 100px;
  height: 2px;
  background: #131B23;
  margin: 0 auto;
}

.gray-divider {
  width: 100px;
  height: 2px;
  background: #8D99AE;
  margin: 0 auto;
}

.silver-divider {
  width: 100px;
  height: 2px;
  background: #E0E0E2;
  margin: 0 auto;
}

.white-divider {
  width: 100px;
  height: 2px;
  background: #fff;
  margin: 0 auto;
}

.blue-divider {
  width: 100px;
  height: 2px;
  background: #2274A5;
  margin: 0 auto;
}

.button1 {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid white;
  display: inline-block;
  margin-top: 20px;
  padding: 18px 50px;
  border-radius: 3px;
  transition: all 0.3s ease-in 0s;
  background: transparent;
  text-decoration: none;
}

.button1:hover {
  background: #2274A5;
  color: #fff;
  text-decoration: none;
}

.button1:visited {
  color: #fff;
  text-decoration: none;
}

.button1:visited:hover {
  color: #fff;
  text-decoration: none;
}

/* MENU */

.navbar {
  background: #131B23;
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: right;
}

.navbar li a {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #131B23 !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-style: none;
}

.icon-bar {
  background-color: #fff !important;
}

/* Création site web */

#create-website {
  background: #fff;
  padding-bottom: 45px;
}

#create-website .heading h2 {
  color: #131B23;
}

#create-website h3 {
  color: #2274A5;
}

#create-website p {
  color: #131B23;
}

#create-website .heading .button1 {
  background-color: transparent;
  border: 1px solid #2274A5;
  color: #2274A5;
  text-decoration: none;
  margin-right: 15px;
  width: 265px;
}

#create-website .button1:hover {
  background: #2274A5;
  color: #fff;
  text-decoration: none;
}

#create-website .button1:visited {
  color: #2274A5;
  text-decoration: none;
}

#create-website .button1:visited:hover {
  color: #fff;
  text-decoration: none;
}

#create-website span.glyphicon {
  margin-right: 5px;
}

/* PORTFOLIO */

#portfolio {
  background: #2274A5;
  padding-bottom: 45px;
}

#portfolio .heading h2 {
  color: #fff;
}

#portfolio .thumbnail img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

#portfolio .thumbnail img:hover {
  width: 100%;
  height: 100%;
  filter: none;
  -webkit-filter: none;
}

#portfolio .heading .button1 {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
  width: 260px;
}

#portfolio .button1:hover {
  background: #fff;
  color: #fff;
  text-decoration: none;
}

#portfolio .button1:visited {
  color: #fff;
  text-decoration: none;
}

#portfolio .button1:visited:hover {
  color: #2274A5;
  text-decoration: none;
}

#portfolio span.glyphicon {
  margin-right: 5px;
}

 /* CONTACT */

 #contact {
  background: #8D99AE;
  padding-bottom: 45px;
 }

#contact .heading h2 {
  color: #fff;
}

#contact .button1 {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
  width: 260px;
}

#contact .button1:hover {
  background: #fff;
  color: #8D99AE;
  text-decoration: none;
}

#contact .button1:visited {
  color: #8D99AE;
  text-decoration: none;
}

#contact .button1:visited:hover {
  color: #8D99AE;
  text-decoration: none;
}

#contact-form input.button1 {
  font-size: 15px;
}

 #contact-form {
   font-size: 20px;
   color: #fff;
 }

 .form-control {
   height: 50px;
   font-size: 18px;
 }

 .comments {
   font-style: italic;
   font-size: 18px;
   color: #131B23;
   height: 25px;
 }

 #contact-form input[type=submit] {
   margin: 40px auto 0px;
   display: block;
 }

 .thank-you {
   text-align: center;
   margin-top: 15px;
   font-weight: bold;
   font-size: 22px;
 }

