/* Copyright
Created by Linseed Studio
Created by AFY Studio
Created by Luboš Volkov
Created by Aybige
Created by Linseed Studio
Created by Creative Stall
Created by Alex Marco
Created by Ali Coşkun
Created by Linseed Studio
Created by Pedro Santos
Created by Made by Made
Created by Ana María Lora Macias
Created by Tinashe Mugayi
Created by buzzyrobot
Created by Danil Polshin
Created by Kimmi Studio
Created by bmijnlieff
Created by shaheen
Created by Iconic
Created by Alena
Created by Matthias Van Wambeke
Created by Baboon designs
Created by Icon Fair
Created by Nicolas Vicent
Created by romzicon
Created by unlimicon
Created by Lil Squid
Created by Arthur Shlain
Created by Silvia Herrera
Created by Danil Polshin
Created by Iconika
Created by  Thays Malcher
Created by OLIVIA HABERMEL
Created by Royyan Wijaya
Created by Chanut is Industries
Created by Gregor Cresnar
Created by DewDrops
Created by H Alberto Gongora
Created by Gautam Krishnan
All From The Noun Project
All Modified by Auriles El Haddad
*/

/* Colors
#131B23 = black
#fff = white
#2274A5 = blue
#274060 = blue marine
*/

/* GENERAL */

* {
  outline: none;
}

body {
  font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 45px 0 0 0;
}

section .heading {
  text-align: center;
}

section .heading h2 {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.black-divider {
  width: 100px;
  height: 2px;
  background: #131B23;
  margin: 0 auto;
}

.black2-divider {
  width: 900px auto;
  height: 1px;
  background: rgba(19, 27, 35, 0.1);
  margin: 50px auto;
}

.white-divider {
  width: 100px;
  height: 2px;
  background: #fff;
  margin: 0 auto;
}

.blue-divider {
  width: 100px;
  height: 2px;
  background: #2274A5;
  margin: 0 auto;
}

.green-divider {
  width: 100px;
  height: 2px;
  background: #41EC7A;
  margin: 0 auto;
}

.green2-divider {
  width: 100px;
  height: 2px;
  background: #22CDB1;
  margin: 0 auto;
}

.blue3-divider {
  width: 100px;
  height: 2px;
  background: #2AACF5;
  margin: 0 auto;
}

.red-divider {
  width: 100px;
  height: 2px;
  background: #DE2F29;
  margin: 0 auto;
}


.bold-blue {
  color: #2274A5;
}

.button1 {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid white;
  display: inline-block;
  margin-top: 20px;
  padding: 18px 50px;
  border-radius: 3px;
  transition: all 0.3s ease-in 0s;
  background: transparent;
  text-decoration: none;
}

.button1:hover {
  background: #2274A5;
  color: #fff;
  text-decoration: none;
}

.button1:visited {
  color: #fff;
  text-decoration: none;
}

.button1:visited:hover {
  color: #fff;
  text-decoration: none;
}

.button2 {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid white;
  display: inline-block;
  margin-top: 20px;
  padding: 18px 50px;
  border-radius: 3px;
  transition: all 0.3s ease-in 0s;
  background: transparent;
  text-decoration: none;
}

.button2:hover {
  background: #2274A5;
  color: #fff;
  text-decoration: none;
}

.button2:visited {
  color: #fff;
  text-decoration: none;
}

.button2:visited:hover {
  color: #fff;
  text-decoration: none;
}

/* MENU */

.navbar {
  background-image: url('../images/bg-footer.png');
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0px 0px 25px #131B23;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: right;
}

.navbar li a {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #131B23 !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-style: none;
}

.icon-bar {
  background-color: #fff !important;
}

/* Création site web */

#create-website {
  background: #fff;
  padding-bottom: 45px;
}

#create-website .heading h2 {
  color: #2274A5;
}

#create-website h3 {
  color: #2274A5;
}

#create-website p {
  color: #131B23;
}

#create-website .heading .button1 {
  background-color: transparent;
  border: 1px solid #2AACF5;
  color: #2AACF5;
  text-decoration: none;
  margin-right: 15px;
  width: 265px;
}

#create-website .button1:hover {
  background: #2AACF5;
  color: #fff;
  text-decoration: none;
}

#create-website .button1:visited {
  color: #2AACF5;
  text-decoration: none;
}

#create-website .button1:visited:hover {
  color: #fff;
  text-decoration: none;
}

#create-website .heading .button2 {
  background-color: transparent;
  border: 1px solid #22CDB1;
  color: #22CDB1;
  text-decoration: none;
  margin-right: 15px;
  width: 265px;
}

#create-website .button2:hover {
  background: #22CDB1;
  color: #fff;
  text-decoration: none;
}

#create-website .button2:visited {
  color: #22CDB1;
  text-decoration: none;
}

#create-website .button2:visited:hover {
  color: #fff;
  text-decoration: none;
}

#create-website span.glyphicon {
  margin-right: 5px;
}

/* Freelance */

#freelance {
  background: #fff;
  padding-bottom: 45px;
}

#freelance .heading h2 {
  color: #2274A5;
}

#freelance h3 {
  color: #2274A5;
}

#freelance p {
  color: #131B23;
}

#freelance .heading .button1 {
  background-color: transparent;
  border: 1px solid #2274A5;
  color: #2274A5;
  text-decoration: none;
  margin-right: 15px;
  width: 290px;
}

#freelance .button1:hover {
  background: #2274A5;
  color: #fff;
  text-decoration: none;
}

#freelance .button1:visited {
  color: #2274A5;
  text-decoration: none;
}

#freelance .button1:visited:hover {
  color: #fff;
  text-decoration: none;
}

#freelance span.glyphicon {
  margin-right: 5px;
}

/* PORTFOLIO */

#portfolio {
  background: #2274A5;
  padding-bottom: 45px;
}

#portfolio .heading h2 {
  color: #fff;
}

#portfolio .thumbnail img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

#portfolio .thumbnail img:hover {
  width: 100%;
  height: 100%;
  filter: none;
  -webkit-filter: none;
}

#portfolio .heading .button1 {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
  width: 260px;
}

#portfolio .button1:hover {
  background: #fff;
  color: #fff;
  text-decoration: none;
}

#portfolio .button1:visited {
  color: #fff;
  text-decoration: none;
}

#portfolio .button1:visited:hover {
  color: #2274A5;
  text-decoration: none;
}

#portfolio span.glyphicon {
  margin-right: 5px;
}

 /* CONTACT */

 #contact {
  background: #274060;
  padding-bottom: 45px;
 }

#contact .heading h2 {
  color: #fff;
}

#contact .button1 {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
  width: 260px;
}

#contact .button1:hover {
  background: #fff;
  color: #274060;
  text-decoration: none;
}

#contact .button1:visited {
  color: #274060;
  text-decoration: none;
}

#contact .button1:visited:hover {
  color: #274060;
  text-decoration: none;
}

#contact-form input.button1 {
  font-size: 15px;
}

 #contact-form {
   font-size: 20px;
   color: #fff;
 }

 .form-control {
   height: 50px;
   font-size: 18px;
 }

 .comments {
   font-style: italic;
   font-size: 18px;
   color: #A6EBFB;
   height: 25px;
 }

 #contact-form input[type=submit] {
   margin: 40px auto 0px;
   display: block;
 }

 .thank-you {
   text-align: center;
   margin-top: 15px;
   font-weight: bold;
   font-size: 22px;
 }

 /* FOOTER */

 footer {
   background-image: url('../images/bg-footer.png');
   padding: 20px 0 40px;
 }

 footer .glyphicon {
   font-size: 25px;
   margin: 20px;
   color: #2274A5;
   height: 30px;
 }

 footer .glyphicon:hover {
   font-size: 27px;
 }

 footer h5, footer h3, footer p {
   color: #fff;
   font-weight: normal;
 }

 .icons {
   color: #fff;
   font-size: 30px;
   margin-top: 15px;
   margin-right: 10px;
   display: inline-block;
 }

 .icons a {
   color: #fff;
   font-size: 35px;
   margin-top: 10px;
   margin-right: 10px;
 }

 .icon-linkedin:hover {
   color: #0077B5;
   text-decoration: none;
 }

 .icon-github:hover {
   color: #542C7A;
   text-decoration: none;
 }

 .icon-mail:hover {
   color: #DB4A38;
   text-decoration: none;
 }

 .icon-phone:hover {
   color: #41EC7A;
   text-decoration: none;
 }

 .text-center {
  text-align: center;
 }


/* ------------------------------------------------------------------------------------- */

/* Page more.html */

/* more-banner */

#more-banner{
  height: 200px;
  background-color: #2AACF5;
}

#more-banner h1 {
  color: #fff;
  margin: 65px auto;
}

/* more-description */

#more-description h3 {
  color: #2AACF5;
  text-transform: uppercase;
}

#more-description p {
  text-align: justify;
  margin-left: 250px;
  margin-right: 250px;
}

#more-description p:nth-of-type(1) {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

#more-description span {
  color: #2AACF5;
  font-weight: bold;
}

/* more-maquettes */

.maquette {
  padding-bottom: 70px;
}

.arrow {
  margin-top: 90px;
}

/* ------------------------------------------------------------------------------------- */

/* Page price.html */

/* price-banner */

#price-banner{
  height: 200px;
  background-color: #22CDB1;
}

#price-banner h1 {
  color: #fff;
  margin: 65px auto;
}

/* price-description */

#price-description h3 {
  color: #22CDB1;
  text-transform: uppercase;
}

#price-description p {
  text-align: justify;
  margin-left: 250px;
  margin-right: 250px;
}

#price-description p:nth-of-type(1) {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

#price-description a {
  color: #22CDB1;
}

#price-description .button2 {
  background-color: transparent;
  border: 1px solid #22CDB1;
  color: #22CDB1;
  text-decoration: none;
  margin-right: 15px;
  width: 335px auto;
}

#price-description .button2:hover {
  background: #22CDB1;
  color: #fff;
  text-decoration: none;
}

#price-description .button2:visited {
  color: #22CDB1;
  text-decoration: none;
}

#price-description .button2:visited:hover {
  color: #fff;
  text-decoration: none;
}

#price-description span.glyphicon {
  margin-right: 5px;
}

/* price-tarifs */

#price-tarifs {
  margin-bottom: 50px;
}

#price-tarifs h3 {
  color: #22CDB1;
  text-transform: uppercase;
}

#price-tarifs p {
  text-align: justify;
  margin-left: 250px;
  margin-right: 250px;
}

/* Price blue */

.price-block-blue {
  border: 1px solid rgba(42, 172, 245, 0.2);
  border-radius: 10px;
  margin-bottom: 15px;
}

.price-block-blue:hover {
  border: 1px solid #2AACF5;
  transition: all 0.3s ease-in 0s;
}

.price-block-blue ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style-type: none;
}

.price-block-blue ul > li {
  text-align: left;
  border: solid 1px rgba(42, 172, 245, 0.1);
  border-radius: 9px;
  height: 60px;
  display: flex;
  align-items: center;
}

.price-block-blue ul li:before {
  content: "\00BB \0020";
  font-weight: bold;
  color: #2AACF5;
  font-size: 15px;
  margin-left: 5px;
  margin-right: 10px;
}

.price-li-background-blue {
  background-color: rgba(42, 172, 245, 0.1)
}

.price-box-blue {
  border: 5px solid #2AACF5;
  border-radius: 100px;
  margin: 20px auto;
  width: 130px;
  height: 130px;
  background-color: #2AACF5;
  display: flex;
  align-items: center;
}

.price-box-blue h4 {
  color: white;
  margin: 30px auto;
  font-size: 30px;
  font-weight: bold;
}

/* Price green */

.price-block-green {
  border: 1px solid rgba(73, 229, 136, 0.2);
  border-radius: 10px;
  margin-bottom: 15px;
}

.price-block-green:hover {
  border: 1px solid #49E588;
  transition: all 0.3s ease-in 0s;
}

.price-block-green ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style-type: none;
}

.price-block-green ul > li {
  text-align: left;
  border: solid 1px rgba(73, 229, 136, 0.1);
  border-radius: 9px;
  height: 60px;
  display: flex;
  align-items: center;
}

.price-block-green ul li:before {
  content: "\00BB \0020";
  font-weight: bold;
  color: #49E588;
  font-size: 15px;
  margin-left: 5px;
  margin-right: 10px;
}

.price-li-background-green {
  background-color: rgba(73, 229, 136, 0.1);
}

.price-box-green {
  border: 5px solid #49E588;
  border-radius: 100px;
  margin: 20px auto;
  width: 130px;
  height: 130px;
  background-color: #49E588;
  display: flex;
  align-items: center;
}

.price-box-green h4 {
  color: white;
  margin: 30px auto;
  font-size: 30px;
  font-weight: bold;
}

/* Price red */

.price-block-red {
  border: 1px solid rgba(222, 47, 41, 0.2);
  border-radius: 10px;
  margin-bottom: 15px;
}

.price-block-red:hover {
  border: 1px solid #DE2F29;
  transition: all 0.3s ease-in 0s;
}

.price-block-red ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style-type: none;
}

.price-block-red ul > li {
  text-align: left;
  border: solid 1px rgba(222, 47, 41, 0.1);
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 9px;
}

.price-block-red ul li:before {
  content: "\00BB \0020";
  font-weight: bold;
  color: #DE2F29;
  font-size: 15px;
  margin-left: 5px;
  margin-right: 10px;
}

.price-li-background-red {
  background-color: rgba(222, 47, 41, 0.1);
}

.price-box-red {
  border: 5px solid #DE2F29;
  border-radius: 100px;
  margin: 20px auto;
  width: 130px;
  height: 130px;
  background-color: #DE2F29;
  display: flex;
  align-items: center;
}

.price-box-red h4 {
  color: white;
  margin: 30px auto;
  font-size: 30px;
  font-weight: bold;
}

/* ------------------------------------------------------------------------------------- */

/* Page portfolio.html */

/* portfolio-banner */

#portfolio-banner{
  height: 200px;
  background-color: #2274A5;
}

#portfolio-banner h1 {
  color: #fff;
  margin: 65px auto;
}

/* portfolio-description */

#portfolio-description h3 {
  color: #2274A5;
  text-transform: uppercase;
}

#portfolio-description p {
  text-align: justify;
  margin-left: 250px;
  margin-right: 250px;
  width: auto;
}

#portfolio-description p:nth-of-type(1) {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

#portfolio-description a {
  color: #2274A5;
}

/* portfolio-site */

#portfolio-site h4 {
  text-align: center;
}

#portfolio-site .blue-divider {
  margin-bottom: 10px;
}

#portfolio-site ul {
  list-style-type: none;
}

#portfolio-site ul li:before {
  content: "\00BB \0020";
  font-weight: bold;
  color: #2274A5;
  font-size: 15px;
  margin-left: 5px;
  margin-right: 10px;
}

/* ------------------------------------------------------------------------------------- */

/* Mediaqueries */

/* Mediaqueries page more.html */

@media screen and (max-width: 1024px) {
  #more-description p {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 768px) {
  .arrow {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  #more-banner h1 {
    margin: 40px auto;
  }

  .maquette {
    padding-bottom: 50px;
  }

  .arrow {
    display: none;
  }

  .align {
    float: none;
    width: 100%;
  }
}

/* Mediaqueries page price.html */

@media screen and (max-width: 1024px) {
  #price-description p {
    margin-left: 0px;
    margin-right: 0px;
  }

  #price-tarifs .price-description p {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 425px) {
  #price-banner h1 {
    margin: 40px auto;
  }
}

/* Mediaqueries page portfolio.html */

@media screen and (max-width: 1024px) {
  #portfolio-description p {
    margin-left: 0px;
    margin-right: 0px;
  }
}










